body{
    text-align: center;
}

.btn{
    height: 180px;
    width: 180px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #e80f50;
}

.green{
    background-color: #36e648;
}

.yellow{
    background-color: #ebe42f;
}

.purple{
    background-color: #c21cdb;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}